
my solutions/.vs/slnx.sqlite
my solutions/.vs/ProjectSettings.json
my solutions/.vs/my solutions/FileContentIndex/read.lock
my solutions/.vs/my solutions/FileContentIndex/d3bb10b5-e47e-4e16-8b21-27a4860023e5.vsidx
*.vsidx
